@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: #181818;
  overflow-x: hidden;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(170, 170, 170);
}

/* Track */
::-webkit-scrollbar-track {
  background: #181818;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 211);
  border-radius: 20px;
  height: 120px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
  position: relative;
}

header {
  z-index: 2;
  height: 145px;
  background-color: rgba(32, 32, 32, 0.95);
  position: fixed;
  top: 0;
  left: 100px;
  right: 0;
}
aside {
  background-color: #212121;
  z-index: 3;
  position: fixed;
  left: 0;
  width: 100px;
  top: 0;
  bottom: 0;
}
.bars {
  color: #ccc;
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}
.bars span {
  font-size: 2em;
}
.aside-wrap {
  display: flex;
  align-items: center;
  gap: 2em;
  height: 80px;

  background-color: #222222;
}

.aside-wrap .icons-down {
  font-size: 2em;
}

/* .icons {
  display: flex;
  gap: 5px;
}
.icons img {
  object-fit: contain;
  width: 30px;
  align-self: center;
}
.icons p {
  font-weight: 500;
  letter-spacing: -1px;
  font-size: 1.5em;
  align-self: center;
} */
#logo-icon {
  fill: white;
}
yt-icon {
  cursor: pointer;
}
.icons-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;

  text-align: center;
}
.bars span:focus {
  background-color: rgb(56, 56, 56);
}
.one,
.two,
.three,
.four {
  width: 100%;
  padding: 20px;
}
.one:hover,
.two:hover,
.three:hover,
.four:hover {
  background-color: rgb(56, 56, 56);
  cursor: pointer;
}
.icons-down p {
  font-size: 10px;
  text-align: center;
}

header .head-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px;
  height: 80px;
}
.border-wrap {
  border-bottom: 1px solid rgb(56, 56, 56);
  width: 100%;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input input {
  background: none;
  border: none;
  color: #fff;
  height: 40px;
  outline: none;
  font-size: 1em;
  border: 1px solid rgb(56, 56, 56);
  font-weight: 500;
  width: 600px;
  background-color: rgb(18, 18, 18);
  padding: 7px 18px;
  z-index: 22;
  border-top-left-radius: 3px;
  letter-spacing: 0.5px;
  border-bottom-left-radius: 3px;
}
.input span:nth-of-type(1) {
  background-color: rgb(56, 56, 56);
  padding: 8px 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.input span:nth-of-type(2) {
  background-color: rgb(18, 18, 18);
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.input input:focus {
  border: 1px solid rgb(26, 117, 253);
}
.right {
  display: flex;
  gap: 1.2em;
}
.circle {
  background-color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.right span {
  font-size: 1.7em;
  cursor: pointer;
}
header {
  border-bottom: 1px solid rgb(56, 56, 56);
}
.suggestion {
  height: 64px;
}
.suggestion ul li {
  background-color: rgb(55, 55, 55);
  border: 1px solid rgb(82, 82, 82);
  padding: 5px 20px;
  border-radius: 20px;
}
.suggestion ul li:hover {
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}
.suggestion ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  list-style: none;
}

main {
  min-height: 100vh;
  width: 80%;
  margin: 170px auto;
}
main img {
  width: 315px;
  margin-top: 20px;
  object-fit: contain;
}
.cards {
  display: grid;
  height: auto;
  gap: 2em;
  grid-template-rows: repeat(4, 300px);
  grid-template-columns: repeat(4, 1fr);
}
.content-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
}
.content-1 img {
  display: flex;
  align-self: start;
}
.it-1 {
  display: flex;
  justify-content: start;
  gap: 3px;
  flex-direction: column;
}
@media (max-width: 700px) {
  .cards {
    grid-template-rows: repeat(17, 300px);
    grid-template-columns: repeat(1, 1fr);
  }
  aside {
    display: none;
    width: 0px;
  }
  header {
    left: 0;
    width: 100%;
  }
  input {
    display: none;
  }
  .input span:nth-of-type(1) {
    background: none;
  }
  .input span:nth-of-type(2) {
    background: none;
  }
  header .head-wrap {
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px; */
    height: 55px;
  }

  main {
    width: 100%;
    height: 100%;
  }
  .cards {
    justify-content: center;
    place-items: center;
    justify-items: center;
  }
  .suggestion ul {
    font-size: 12px;
    gap: 5px;
    margin: 0 10px;
    justify-content: flex-start;
    overflow-x: auto;
  }
  header {
    height: 130px;
    background-color: rgba(32, 32, 32, 0.95);
    position: fixed;
    top: 0;
    left: 0px;
    width: 100vw;
    right: 0;
  }
  main img:nth-child(odd) {
    object-fit: contain;
    width: 350px;
    margin-left: 17px;
  }

  .content-1 img {
    margin-left: 3px;
  }
  .content-1 {
    font-size: 12px;
  }
  .it-1 {
    width: 300px;
  }
}
